* {
  overscroll-behavior: none;
  /* VAR(S) */
  /* fonts */

  --font-content: "Urbanist", sans-serif;
  --font-button: "Urbanist", sans-serif;
  font-family: "Urbanist", sans-serif;
  font-weight: 400;
  text-decoration: none;
  box-sizing: border-box;
  line-height: normal;

  /* min-width: fit-content; */
  min-height: fit-content;

  font-size: 1.11vw;

  transform-origin: center;

  /* COLOURS - RE-CREATE */

  /* shadows */

  /* COLOURS */

  /* colors light*/

  --background-grey: rgba(244, 244, 244, 1);

  --green: 0, 210, 84;

  --dark: rgba(0, 0, 0, 0.06);
  --darker: rgba(0, 0, 0, 0.11);
  --darkest: rgba(0, 0, 0, 0.88);

  /* bw colors */
  --col-black: 0, 0, 0;
  --col-white: 255, 255, 255;

  /* cdd colours */
  --cdd-col-black: 0, 0, 18;
  --cdd-col-moss: 20, 71, 82;
  --cdd-col-red: 235, 0, 89;
  --cdd-col-cyan: 50, 201, 207;
  --cdd-col-white: 250, 248, 252;

  /* accent colours */
  /* --cdd-col-acc-m: var(--cdd-col-red); */
  --cdd-col-link: var(--cdd-col-ink);
  --cdd-col-link-ho: var(--cdd-col-acc-m);

  /* night mode colours */
  /* defined by related js file (cdd-js > cdd-style-scripts.js) */

  /* day mode colours */
  /* defined by related js file (cdd-js > cdd-style-scripts.js) */

  /* END - COLOURS */

  /* sizings */
  --pad-bar: 0.8rem 5rem 0.5rem 5rem;
  --pad-desktop: 2rem 5rem;

  /* transitions */
  --trans-btn: ease-in 200ms;
  --trans-back: ease-in 800ms;

  /* borders  */
  --border: 0.08rem solid rgba(var(--cdd-col-text), 0.77);
  --border-hov: 0.08rem solid rgba(var(--cdd-col-text), 1);

  --border-acc-m: 0.08rem solid rgba(var(--cdd-col-acc-m), 0.77);
  --border-acc-m-hov: 0.08rem solid rgba(var(--cdd-col-acc-m), 1);
  --panel-back: rgba(var(--shade), 0.33);
  --panel-back-hov: rgba(var(--shade), 0.77);

  /* radiusses */
  --rad-img: 25%;

  /* effects */
  --sha-icon: 0 0.1rem 0.05rem rgba(var(--cdd-col-text), 0.2);
  --sha-button: 0 0.2rem 0.4rem rgba(var(--cdd-col-text), 0.22);
  --sha-container: 0 0rem 6rem 1rem rgba(var(--cdd-col-text), 0.22);

  color: rgba(var(--cdd-col-text), 1);

  /* transitions  */
  --trans-fill: fill 400ms ease;
  --trans-rot: rotate 400ms ease;
}

::marker {
  display: none;
}

/* root mobile  */
@media (orientation: portrait) {
  * {
    font-size: 2vw;
  }
}

/* CDD GENERAL */

body {
  font-family: var(--font-content);
  background: rgba(var(--cdd-col-back), 1);
  color: rgba(var(--color), 1);
  margin: 0rem;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  min-height: 100vh;
  height: 100%;
  display: grid;
  justify-content: unset;
  justify-items: unset;
  align-content: start;
  align-items: unset;
  padding: 0rem;
  object-fit: contain;
  line-height: 1.62rem;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  transition: background-color ease-in-out 500ms, color ease-in-out 500ms;

  position: relative;
}

.main {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;

  display: grid;
  align-content: start;
  align-items: start;
}

/* CDD - GENERAL / OVERALL */
img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

a {
  color: rgba(var(--cdd-col-text), 1);
}

a:hover {
  color: rgba(var(--cdd-col-ink), 1);
}

button {
  border: var(--border-acc-m);
  color: rgba(var(--cdd-col-text), 1);
  white-space: nowrap;
  padding: 1rem 2rem;
  border-radius: 1rem;
  background: rgba(var(--cdd-col-acc-m), 0.44);
  box-shadow: var(--sha-button);
}

button a {
  font-weight: 900;
}

a,
button {
  cursor: pointer;
}

li {
  list-style: none;
}

p,
ul,
li {
  margin: 0;
  padding: 0;
}

strong {
  font-size: inherit;
  font-weight: 900;
}

/* headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 2.4rem;
}
h3 {
  font-size: 2rem;
  padding: 1rem 0;
}
/* END - CDD - GENERAL / OVERALL */

/* CDD - HEADER */
header {
  position: fixed;
  height: 4rem;
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  align-content: center;
  align-items: center;
  justify-items: unset;
  /* gap: 1rem; */
  margin: 0;
  padding: var(--pad-bar);
  background: rgba(var(--cdd-col-text), 0.22);
  /* backdrop-filter: blur(10px); */

  list-style: none;
  /* box-shadow: 0 0.1rem 0.4rem rgba(var(--cdd-col-back), 1); */
  z-index: 100;
  overflow: visible;
}

header:before {
  content: "";
  position: absolute;
  bottom: -0.4rem;
  width: 100%;
  height: 0.4rem;
  background: linear-gradient(
    180deg,
    rgba(var(--cdd-col-acc-m), 1) 0%,
    rgba(var(--cdd-col-acc-m), 0) 100%
  );
  /* opacity: 0.6; */
}

header:after {
  pointer-events: none;
  z-index: -1;
  content: "";
  position: absolute;
  /* top: -0.5rem; */
  height: 4rem;
  width: 100%;
  background-color: rgba(var(--cdd-col-back), 0.44);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  box-shadow: 0 0.2rem 1rem rgba(var(--cdd-col-acc-m), 1);
  /* mask-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(rgba(0, 0, 0, 0)),
    to(rgba(0, 0, 0, 1))
  );
  -webkit-mask-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(rgba(0, 0, 0, 0)),
    to(rgba(0, 0, 0, 1))
  ); */
}

.cdd-logo,
.cdd-nav-social,
.cdd-nav-2nd {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  height: 100%;
  filter: drop-shadow(var(--sha-icon));

  position: relative;
}

.cdd-logo {
  height: 3rem;
}

.radar-rotate,
.logo-day,
.logo-nite {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  height: 100%;
  margin: 0;
  padding: 0;
  justify-items: start;
  gap: 0.4rem;

  position: relative;
}

.cdd-logo-radarrotate {
  /* position: absolute; */
  /* left: -4.171rem; */
  z-index: -1;
  animation: rotate360 infinite 3600ms linear;
}

.logo-day {
  left: -3rem;
}
.logo-nite {
  opacity: 0;
  position: absolute;
}

.nitetime .logo-day {
  opacity: 0;
}

.nitetime .logo-nite {
  opacity: 1;
}

/* .cdd-logo {
  justify-content: start;
  justify-items: start;
  gap: 0.4rem;
} */

/* .cdd-logo,
.cdd-logotype,
.cdd-social,
.cdd-search {
  width: auto;
  object-fit: contain;
} */

/* - MAIN NAV */
.cdd-nav-main li {
  margin: 0;
  padding: 0;
  font-weight: 600;
}

.cdd-nav-main li a {
  display: grid;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.05rem;
  font-size: 0.9rem;
  height: 100%;
  color: rgba(var(--cdd-col-text), 0.88);
  place-content: center;
  place-items: center;
}
.cdd-nav-main li a:hover {
  color: rgba(var(--cdd-col-ink), 1);
  /* color: red; */
}

.active {
  position: relative;
  font-weight: 800;
}

.active:after {
  display: grid;
  position: fixed;
  content: "";
  height: 0.6rem;
  width: 0.6rem;
  background: rgba(var(--cdd-col-acc-m), 1);
  z-index: 1;
  border-radius: 0.5rem 0.5rem 0 0;
  translate: 0 1.57rem;
}

/* END - MAIN NAV */

.cdd-nav-social,
.cdd-nav-2nd {
  gap: 0.5rem;
  padding: 0 0.5rem;
}

.cdd-nav-2nd {
  padding: 0 0.5rem 0 0;
  border-right: var(--border);
}
.cdd-nav-social {
  padding: 0 0 0 0.5rem;
}

.cdd-nav-2nd {
  border-right: var(-red);
}
.cdd-logotype {
  height: 1.4rem;
}

nav {
  justify-self: center;
  display: flex;
  gap: 1rem;
  text-align: center;
  color: rgba(var(--cdd-col-back), 1);
  align-items: center;
}

/* GRAPH PAGE */

.main-graph {
  position: fixed;
  margin: 4rem 0 0 0;
}

.graph-topbar {
  display: grid;
  justify-content: start;
  align-content: center;
  align-items: center;

  width: 100%;
  height: 4rem;
  /* position: fixed; */
  padding: var(--pad-bar);
  /* background: rgba(var(--cdd-col-text), 1); */
  border-bottom: var(--border-acc-m);
  grid-auto-flow: column;
}

.cdd-coin-info-bar,
.cdd-coin-info-bar ul {
  display: flex;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  align-items: center;
}

/* Graphics - Main Graphic  */
.graph-columns {
  display: grid;
  grid-template-columns: 18rem 1fr;
  height: 100%;
  overflow: hidden;
}

.graph-nav,
.graph-body {
  /* grid-row: 2; */
  height: 100%;
}

.graph-nav {
  border-right: var(--border-acc-m);
}

.graph-body {
}

/* Graphic - Chartlists */
.cdd-lists {
  display: grid;
  align-content: start;
  /* justify-content: end; */
  padding: 2rem 1rem 2rem 1rem;
}

.cdd-chartlist-main,
.cdd-chartlist-sublist {
  display: grid;
  gap: 1rem;
}

.cdd-lists-content {
  display: grid;
  align-content: start;
}

.cdd-chartlist-main li > span {
  width: 100%;
  display: grid;
  align-content: center;
  margin: 0;
  padding: 0;
  height: 2rem;
  grid-template-columns: auto 1fr;
  align-items: center;
}

.cdd-chartlist-main li > li span:hover {
  font-weight: 900;
}

.svg-arrow-chart {
  height: 100%;
  width: 100%;
}

.cdd-chartlist-sublist {
  font-weight: 700;
}
.cdd-chartlist-sublist li {
  padding: 0 0 0 4rem;
}

/* Graph Container */
.graph-body {
  width: 100%;
  height: 100%;
  padding: 2rem;
  display: grid;
  align-content: start;
  overflow-y: scroll;
}

.graph-heading {
  width: fit-content;
}

.graph-container {
  display: grid;
  width: 100%;
  height: 100%;
  border: var(--border-acc-m);
  border-radius: 1rem;
  background-color: rgba(var(--cdd-col-acc-m), 0.11);
  min-height: 40vh;
  max-height: 60vh;
}

/* END - GRAPH PAGE */

/* CDD - COMPONENTS */

.sprites {
  right: 2rem;
  position: fixed;
  top: 1.12rem;
  z-index: 101;
}

/* CDD - FOOTER */

.cdd-footer {
  display: grid;
  gap: 10rem;
  align-content: center;
  align-items: end;
  grid-template-columns: 1fr 30rem 1fr;
  background: rgba(var(--cdd-col-black), 1);
  height: 20rem;
  padding: var(--pad-desktop);
  box-shadow: var(--sha-container);
  overflow: hidden;
}

.footer-menu {
  justify-self: end;
  text-align: right;
}

.footer-menu ul,
.footer-contact ul {
  gap: 1rem;
  display: grid;
}

.cdd-footer * {
  color: rgba(var(--cdd-col-white), 1);
}

/* footer logo  */
.cdd-footer-logo {
  display: grid;
  gap: 1rem;
  justify-items: center;
}

.footer-logo {
  justify-content: center;
  justify-items: center;
  display: grid;
  z-index: 1;
  grid-template-rows: 1fr 0px;
}
.cdd-imprint {
  display: grid;
}

.footer-logo img {
  width: 5rem;
  height: auto;
}

.footer-logo .cdd-logo-case {
  translate: 0 -100%;
}

.footer-logo .cdd-logo-radarrotate {
  animation: rotate360 infinite 16000ms linear;
  z-index: 0;
  filter: blur(1px);
}
.footer-logotype {
  display: grid;
  gap: 2rem;
  text-align: center;
}

/* PAGES - HOME  */
.cdd-hero {
  width: 100%;
  height: 48rem;
  top: 0rem;
  position: relative;
}

.cdd-hero img {
  object-fit: cover;
  opacity: 0.66;
  filter: grayscale(0.9);
  z-index: -1;
}

.hero-content {
  width: 40rem;
  display: grid;
  gap: 0.5rem;
  position: relative;
  bottom: 60%;
  left: 5rem;
  filter: drop-shadow(0 0 3rem rgba(var(--cdd-col-back), 0.44));
}
.cdd-hero button {
  position: absolute;
  top: 24rem;
  right: 24rem;
}

/* Home - Data Solutions  */
.cdd-datasolutions {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 38rem;
  padding: 0;
}
.cdd-datasolutions img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  justify-self: end;
  right: 0;
}

.cdd-datasolutions .section-content {
  display: grid;
  gap: 0.5rem;
  position: relative;
  filter: drop-shadow(0 0 3rem rgba(var(--cdd-col-back), 0.44));
  align-items: center;
  align-content: center;
  text-align: right;
  height: 32rem;
  padding: 2rem 2rem 2rem 5rem;
}

/* PAGES - ABOUT */
.about-headings {
  position: relative;
  top: 8rem;
}
