/* KEYFRAMES  */

@keyframes rotate360 {
  0% {
    rotate: 0deg;
  }

  100% {
    rotate: 360deg;
  }
}

@keyframes heading-effect {
  0% {
    opacity: 0;
    color: rgba(var(--cdd-col-acc-m), 0);
  }

  10% {
    opacity: 1;
    color: rgba(var(--cdd-col-acc-m), 1);
  }

  20% {
    opacity: 1;
    color: rgba(var(--cdd-col-acc-m), 1);
    translate: 0 0%;
  }

  28% {
    translate: 0 -100%;
  }
  30% {
    opacity: 0;
    color: rgba(var(--cdd-col-acc-m), 0);
  }

  100% {
    opacity: 0;
    color: rgba(var(--cdd-col-acc-m), 0);
  }
}

@keyframes fading-gradient {
}

/* ANIMATED BACKGROUND IMAGE */
@keyframes anibackimg {
  0% {
    rotate: 0deg;
    translate: -25% -25%;
    scale: 300%;
    opacity: 0.16;
  }

  50% {
    translate: 25% 25%;
    scale: 400%;
    opacity: 0.04;
  }
  100% {
    rotate: 360deg;
    translate: -25% -25%;
    scale: 300%;
    opacity: 0.16;
  }
}
