* {
  overscroll-behavior: none;
  /* VAR(S) */
  /* fonts */

  --font-content: "Urbanist", sans-serif;
  --font-button: "Urbanist", sans-serif;
  font-family: "Urbanist", sans-serif;
  font-weight: 400;
  text-decoration: none;
  box-sizing: border-box;
  line-height: normal;

  font-size: 1.11vw;

  transform-origin: center;

  /* COLOURS - RE-CREATE */

  /* shadows */

  /* COLOURS */

  /* colors light*/

  --background-grey: rgba(244, 244, 244, 1);

  --green: 0, 210, 84;

  --dark: rgba(0, 0, 0, 0.06);
  --darker: rgba(0, 0, 0, 0.11);
  --darkest: rgba(0, 0, 0, 0.88);

  /* bw colors */
  --col-black: 0, 0, 0;
  --col-white: 255, 255, 255;

  /* cdd colours */
  --cdd-col-black: 0, 0, 18;
  --cdd-col-moss: 20, 71, 82;
  --cdd-col-red: 235, 0, 89;
  --cdd-col-cyan: 50, 201, 207;
  --cdd-col-white: 250, 248, 252;

  /* night mode colours */
  --cdd-col-canvas: var(--cdd-col-black);
  --cdd-col-ink: var(--col-white);
  --cdd-col-back: var(--cdd-col-black);
  --cdd-col-text: var(--cdd-col-white);

  --cdd-col-link: var(--cdd-col-ink);
  --cdd-col-link-ho: var(--cdd-col-red);

  /* night mode colours */
  /* !will be defined by related js file (cdd-js > cdd-style-scripts.js) */

  /* END - COLOURS */

  /* sizings */
  --pad-bar: 0.6rem 5rem 0.7rem 5rem;

  /* transitions */
  --trans-btn: ease-in 200ms;
  --trans-back: ease-in 800ms;

  /* borders  */
  --border: 0.05rem solid rgba(var(--cdd-col-text), 0.77);
  --border-hov: 0.05rem solid rgba(var(--cdd-col-text), 1);

  --border-red: 0.05rem solid rgba(var(--cdd-col-red), 0.77);
  --border-red-hov: 0.05rem solid rgba(var(--cdd-col-red), 1);
  --panel-back: rgba(var(--shade), 0.33);
  --panel-back-hov: rgba(var(--shade), 0.77);

  /* effects */
  --sha-icon: 0 0.1rem 0.1rem rgba(var(--cdd-col-text), 0.3);

  color: rgba(var(--cdd-col-text), 1);
}

::marker {
  display: none;
}

/* CDD GENERAL */

body {
  font-family: var(--font-content);
  background: rgba(var(--cdd-col-back), 1);
  color: rgba(var(--color), 1);
  margin: 0rem;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  min-height: 100vh;
  height: 100%;
  display: grid;
  justify-content: unset;
  justify-items: unset;
  align-content: start;
  align-items: unset;
  padding: 0rem;
  object-fit: contain;
  line-height: 1.62rem;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  transition: background-color ease-in-out 500ms, color ease-in-out 500ms;

  position: relative;
}

.main {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  margin: 4rem 0 0 0;
  padding: 0;

  display: grid;
  align-content: start;
}

/* CDD - GENERAL / OVERALL */
img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

a {
  color: rgba(var(--cdd-col-text), 1);
}

a:hover {
  color: rgba(var(--cdd-col-ink), 1);
}

button {
  background: transparent;
  border: var(--border-red);
  color: rgba(var(--cdd-col-text), 1);
  white-space: nowrap;
}

li {
  list-style: none;
}

p,
ul,
li {
  margin: 0;
  padding: 0;
}

/* END - CDD - GENERAL / OVERALL */

/* CDD - HEADER */
header {
  position: fixed;
  height: 4rem;
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  align-content: center;
  align-items: center;
  justify-items: unset;
  /* gap: 1rem; */
  margin: 0;
  padding: var(--pad-bar);
  background: rgba(var(--cdd-col-text), 0.22);
  list-style: none;
  box-shadow: 0 0.1rem 0.4rem rgba(var(--cdd-col-text), 0.44);
}

.cdd-logo,
.cdd-nav-social,
.cdd-nav-2nd {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  height: 100%;
  filter: drop-shadow(0 0.2rem 0.1rem rgba(var(--cdd-col-black), 0.33));
}

.cdd-logo {
  justify-content: start;
  justify-items: start;
  gap: 0.4rem;
}

.cdd-emblem,
.cdd-logotype,
.cdd-social,
.cdd-search {
  width: auto;
  object-fit: contain;
}

.cdd-emblem {
  height: 3rem;
}

.cdd-nav-main li {
  margin: 0;
  padding: 0;
}

.cdd-nav-main li a {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.05rem;
  font-size: 0.9rem;
  height: 100%;
  color: rgba(var(--cdd-col-text), 0.66);
}
.cdd-nav-main li a:hover {
  color: rgba(var(--cdd-col-ink), 1);
  /* color: red; */
}

.cdd-nav-social,
.cdd-nav-2nd {
  gap: 0.5rem;
  padding: 0 0.5rem;
}

.cdd-nav-2nd {
  padding: 0 0.5rem 0 0;
  border-right: var(--border);
}
.cdd-nav-social {
  padding: 0 0 0 0.5rem;
}

.cdd-nav-2nd {
  border-right: var(-red);
}
.cdd-logotype {
  height: 1.4rem;
}

nav {
  justify-self: center;
  display: flex;
  gap: 1rem;
  text-align: center;
  color: rgba(var(--cdd-col-back), 1);
  align-items: center;
}

/* GRAPH PAGE */

.main-graph {
  position: fixed;
}

.graph-topbar {
  display: grid;
  justify-content: start;
  align-content: center;
  align-items: center;

  width: 100%;
  height: 4rem;
  /* position: fixed; */
  padding: var(--pad-bar);
  /* background: rgba(var(--cdd-col-text), 1); */
  border-bottom: var(--border-red);
  grid-auto-flow: column;
}

.cdd-coin-info-bar,
.cdd-coin-info-bar ul {
  display: flex;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  align-items: center;
}

.cdd-coin-info-bar {
}

/* Graphics - Main Graphic  */
.graph-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.graph-nav,
.graph-body {
  grid-row: 2;
  height: 92rem;
}

.graph-nav {
  border-right: var(--border-red);
}

.graph-body {
}

/* END - GRAPH PAGE */
