/* CDD - STYLES OF SITE MATERIALS  */

/* COIN DROPDOWN & INFO BAR */
.cdd-dropdown,
.cdd-coin-info-bar {
  position: relative; /* Needed for positioning the options list */
  display: flex;
  align-content: center;
  width: 100%;
  height: 2.6rem;
  z-index: 1;
  position: relative;
}

.cdd-dropdown-button {
  display: flex;
  gap: 1rem;
  justify-content: start;
  align-content: center;
  align-items: center;
  height: 100%;
  min-height: 100%;
  overflow: hidden;
  width: 18rem;
  min-width: fit-content;
  padding: 0.5rem 1rem;

  cursor: pointer;
  text-align: left;
  z-index: 1;
  position: relative;
  background: rgba(var(--cdd-col-back), 1);
}

.cdd-dropdown-button:hover {
  border: var(--border-acc-m-hov);
}

.cdd-dropdown-button,
.cdd-coin-info-bar {
  border: var(--border-acc-m);
  border-radius: 1.3rem;
  color: rgba(var(--cdd-col-text), 1);
  padding: 0.5rem 1rem;
}

.cdd-coin-info-bar {
  background-color: rgba(var(--cdd-col-acc-m), 0.22);
  padding: 0.5rem 1rem 0.5rem 18rem;
  translate: -18rem 0;
  z-index: -1;
  width: calc(100% + 19rem);
}

.cdd-coin-info-bar ul {
  gap: 1rem;
}

.cdd-coin-info-bar ul li {
  display: grid;
  gap: 0.2rem;
  border-left: var(--border-acc-m-hov);
  padding: 0 2rem 0 0.5rem;
}

.cdd-coin-info-bar p {
}

.bar-heading {
  font-weight: 800;
  font-size: 0.6rem;
}

.bar-value {
  font-size: 0.8rem;
}

/* Style the dropdown options list (initially hidden) */
.cdd-dropdown-options {
  width: 100%;
  position: absolute;
  top: calc(-100% + 2.6rem);
  z-index: -1;
  left: 0;
  border: var(--border-acc-m);
  border-radius: 1.3rem;
  box-shadow: inset 0 0rem 1rem rgba(var(--cdd-col-back), 1);
  padding: 3.2rem 1rem 0.5rem 1rem;

  overflow-x: hidden;
  overflow-y: scroll;
  height: 20.8rem; /* 2.6 * 4 */
  background: rgba(var(--cdd-col-back), 1);

  /* display: none; */
  visibility: hidden;
  opacity: 0;

  transition: opacity 800ms ease;

  display: grid;
  gap: 0.5rem;
}

/* Style the dropdown options (anchor tags) */
.cdd-dropdown-options a {
  display: flex;
  align-items: center;
  gap: 1rem;
  border-bottom: 0.02rem solid rgba(var(--cdd-col-acc-m), 0.44);
  padding: 0.4rem 0;
  z-index: -1;
}

/* TAB BUTTONS */

.cdd-tabbed-bar {
  display: grid;
  height: 3rem;
  width: 100%;
  grid-template-columns: 1fr 3rem;
  justify-content: stretch;
}

.cdd-tab-button {
  height: 100%;
  border-radius: unset;
  background: transparent;
  display: grid;
  place-content: center;
  padding: 0;
  box-shadow: unset;
}

.show-block {
  visibility: visible;
  opacity: 1;
}

.tab-content {
  height: 100%;
  display: grid;
  justify-content: center;
  width: 100%;
  gap: 1rem;
  padding: 4rem;
}

/* ICONS - GENERAL */

.cdd-icon {
  display: grid;
  width: fit-content;
  filter: drop-shadow(var(--sha-icon));
  background: transparent;

  position: relative;

  border-radius: 100%;
  border: var(--border);

  height: 2rem;
  width: 2rem;
  margin: 0;
  padding: 0;
  place-self: center;
  place-content: center;
  place-items: center;
  overflow: visible;
  scale: 1;
  transition: scale 300ms ease;
}

/* icon effect */
.cdd-icon:hover:after {
  position: absolute;
  translate: 0%;
  content: "";
  background: url(../cdd-media/svg/iconeffect-radar-rotate.svg);
  height: 100%;
  width: 100%;
  z-index: -1;

  animation: rotate360 infinite 1200ms linear;
}

.no-border:hover:after,
.no-border {
  border: none;
  background: none;
}

.cdd-icon:hover {
  scale: 1.1;
  transition: scale 300ms ease;
}

/* ICONS  - SVG STYLINGS */

svg {
  height: 100%;
  width: 100%;
  fill: transparent;
}

#cdd-icon-user {
  height: 100%;
  width: 100%;
}

.svg-path-solid {
  fill: rgba(var(--cdd-col-text), 1);
  height: 100%;
  width: 100%;
}

#svg-arrow {
  cursor: pointer;
}

.svg-arrow {
  fill: rgba(var(--cdd-col-acc-m), 0.88);
  rotate: 180deg;
  transition: var(--trans-fill);
}

#svg-arrow:hover .svg-arrow {
  fill: rgba(var(--cdd-col-acc-m), 1);
}

.svg-hidden-circle {
  fill: transparent;
}

/* list arrow */
.svg-arrow-list {
  rotate: 0deg;
  transition: var(--trans-rot);
}
#svg-arrow:active .svg-arrow-list {
  rotate: 90deg;
}

/* IMAGE INVERTATIONS  */
.lite-image {
  filter: invert(1);
}

/* SEPARATORS */
.cdd-sep-full {
  width: 100vw;
  height: 3rem;
  background: rgba(var(--cdd-col-acc-m), 1);
}

/* ROLLING HEADINGS  */
/* h3 used  */
.cdd-scrolling-headings {
  display: grid;
  justify-content: center;
  justify-items: center;
  align-content: start;
  overflow: hidden;
  height: 32rem;
  padding: 2rem 10rem;
  gap: 1rem;
}

.cdd-scrolling-headings h3 {
  text-transform: uppercase;
  font-weight: 100;
  text-align: center;
  width: 100%;
}

.cdd-scrolling-headings .fixed-h3 {
  font-weight: 900;
}

.rolling-headings {
  height: 8rem;
  width: 100%;
  display: grid;
  /* background: rgba(200, 0, 0, 0.2); */
  justify-content: center;
  justify-items: center;
  align-items: end;
  translate: 0 -3.3rem;
  z-index: -1;
  overflow: hidden;
}

.rolling-headings h3 {
  margin: 0;
  padding: 0;
  line-height: normal;
  opacity: 0;
  font-size: 6rem;
  position: absolute;
}

.iter-1 {
  animation: 18s heading-effect 0s linear infinite;
}
.iter-2 {
  animation: 18s heading-effect 6s linear infinite;
}
.iter-3 {
  animation: 18s heading-effect 12s linear infinite;
}

/* CDD - SITE IMAGES */
/* roadmap image - capsule shaped*/
.cdd-img-road {
  width: 24rem;
  height: 12rem;
  object-fit: cover;
  border: 0.1rem solid rgba(var(--cdd-col-acc-m), 1);
  border-radius: 6rem;
}

.img-capsule-left {
  border-radius: 0 6rem 6rem 0;
  border-width: 0.1rem 0.1rem 0.1rem 0;
}

.img-capsule-right {
  border-radius: 6rem 0 0 6rem;
  border-width: 0.1rem 0rem 0.1rem 0.1rem;
}

/* roadmap - general */
.milestone ul li {
  list-style: disc;
  padding: initial;
}

/* CONTAINERS  */
/* Container - Full Width */
.cdd-container-fw {
  display: grid;
  width: 100%;
  height: fit-content;
  padding: var(--pad-desktop);
}

.cdd-container-padded {
}
/* full with & height fixed  */
.cdd-fixed-full {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: -1;
}

.cdd-fixed-full .slow-scroll {
  /* filter: brightness(0.5) contrast(1.2); */
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -3;
  position: fixed;
}

.cdd-logo-bigback {
  z-index: -2;
  display: inline-flex;
  position: fixed;
  left: 28vw;
  width: 44vw;
  translate: 0 17vh;
}

.cdd-logo-bigback .cdd-logo-case {
  translate: -100%;
  filter: saturate(0) drop-shadow(0 0.5rem 0.5rem rgba(var(--col-black), 0.55))
    brightness(0.4) contrast(0.9) blur(1px);
}

.cdd-logo-backdrop {
  translate: -200%;
  opacity: 1;
  backdrop-filter: brightness(2.5) contrast(7.5) saturate(0);
  z-index: -2;
  filter: blur(39px) saturate(0);
  border-radius: 50%;
  overflow: visible;
  filter: opacity(0.6) saturate(8) blur(19px) brightness(0.6) hue-rotate(415deg);
}

.cdd-logo-bigback .cdd-logo-radarrotate,
.cdd-logo-backdrop {
  animation: rotate360 infinite 32s linear;
}

.overlay {
  height: 100vh;
  width: 100vw;
  background: rgba(var(--cdd-col-back), 0.33);
  position: fixed;
  z-index: -1;
  backdrop-filter: blur(2px);
}
